@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: rgb(144, 72, 156);
}
#grid {
    display: grid;
    grid-template-columns: repeat(18, 0fr);
    grid-template-rows: repeat(10, 0fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.grid-item, .door, .blank, a{
    width: 100px;
    height: 100px;
}

.grid-item {
    /* Add styles for the grid items here */
    user-select: none;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 176, 20);
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 30px;
}

.door{
    user-select: none;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 30px;
    background-color: rgb(253, 176, 20);
    position:absolute;
    transform-origin: left;
    /*Speed of the Door animation*/
    transition: all 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;

}

:hover .grid-item{
    cursor: pointer;
}

.doorOpen {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
    border: 2px solid black;
}

#B, #Si, #Ge,
#As, #Sb, #Te, #Po{
    background-color: #C394C0;
}

#H, #He, #C, #N, #O, #F,
#Ne, #P, #S, #Cl, #Ar, #Se,
#Br, #Kr, #I, #Xe, #At, #Rn, #Ts, #Og{
    background-color: #FF5A85;
}

#Li, #Be, #Na, #Mg, #Al, #K,
#Ca, #Sc, #Ti, #V, #Cr, #Mn,
#Fe, #Co, #Ni, #Cu, #Zn, #Ga,
#Rb, #Sr, #Y, #Zr, #Nb, #Mo,
#Tc, #Ru, #Rh, #Pd, #Ag, #Cd,
#In, #Sn, #Cs, #Ba, #La, #Hf,
#Ta, #W, #Re, #Os, #Ir, #Pt,
#Au, #Hg, #Tl, #Pb, #Bi, #Po,
#Fr, #Ac, #Rf, #Db, #Sg, #Bh,
#Hs, #Mt, #Ds, #Rg, #Cn, #Nh,
#Fl, #Mc, #Lv, #Lu, #Ra, #Lr,
#La, #Ce, #Pr, #Nd, #Pm, #Sm,
#Eu, #Gd, #Tb, #Dy, #Ho, #Er,
#Tm, #Yb, #Th, #Pa, #U, #Np,
#Pu, #Am, #Cm, #Bk, #Cf, #Es,
#Fm, #Md, #No{
    background-color: rgb(135,206,250);
}



#dialog{
    flex-direction: column;
    color: green;
    margin-top: 10%;
    border-radius: 5%;
    width: 50%;
    display: flex;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    background-color: rgba(33, 33, 33, 75%);


   

}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1000px;
    padding-right: 1000px;
}

span {
    font-size: 50px;
}

.elementName {
    text-align: center;
    margin-bottom: 3%;
    height: 1fr;
    width: 100%;
}

.elementProperty {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

#elementButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 2.5rem;
    padding-inline: 0.5rem;
    gap: 0.5rem;
}

#elementButtonsContainer > :hover {
    scale: 1.15;
    background-color: var(--color);
    color: white;
    cursor: pointer;
  }


.elementButton {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    background-color: transparent;
    width: 10%;
    border-radius: 10%;
    font-size: 150%;
    height: 50px;
}

#elementClose {
    --color: red;
    color: var(--color);
    background-color: transparent;
    border: 3px solid red;
    margin-left : 5px;
}

#elementLink {
    --color: green;
    color: var(--color);
    background-color: transparent;
    border: 3px solid green;
    font-weight: bold;
}




.elementKey{
    color: white
}